* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}
#menu {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#menu ul li {
    width: 160px;
    height: 30px;
    background-color: #131313;
    float: left;
    position: relative;
}
#menu ul li a {
    color: orange;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    display: block;
}
/* #menu ul li:hover {
    opacity: 0.5;
} */
#menu ul li a:hover {
    color: #fff;
}
#menu ul li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: 0px;
}
#menu ul li:hover ul {
    display: block;
}
.acilirmenu {
    background-image: url('./ok.png');
    background-repeat: no-repeat;
    background-position: 130px center;
}
.border-right {
    border-right: 2px solid whitesmoke;
}